/MobileLoggerServer/target/

/MobileLoggerApp/Thumbs.db
/MobileLoggerApp/*.obj
/MobileLoggerApp/*.exe
/MobileLoggerApp/*.pdb
/MobileLoggerApp/*.user
/MobileLoggerApp/*.aps
/MobileLoggerApp/*.pch
/MobileLoggerApp/*.vspscc
/MobileLoggerApp/*_i.c
/MobileLoggerApp/*_p.c
/MobileLoggerApp/*.ncb
/MobileLoggerApp/*.suo
/MobileLoggerApp/*.sln.docstates
/MobileLoggerApp/*.tlb
/MobileLoggerApp/*.tlh
/MobileLoggerApp/*.bak
/MobileLoggerApp/*.cache
/MobileLoggerApp/*.ilk
/MobileLoggerApp/*.log
/MobileLoggerApp/[Bb]in
/MobileLoggerApp/[Dd]ebug*/
/MobileLoggerApp/*.lib
/MobileLoggerApp/*.sbr
/MobileLoggerApp/obj/
/MobileLoggerApp/[Rr]elease*/
/MobileLoggerApp/_ReSharper*/
/MobileLoggerApp/[Tt]est[Rr]esult*
/MobileLoggerApp/*.vssscc
/MobileLoggerApp/$tf*/