/MobileLoggerServer/target/

/MobileLoggerApp/MobileLoggerApp/Thumbs.db
/MobileLoggerApp/MobileLoggerApp/*.obj
/MobileLoggerApp/MobileLoggerApp/*.exe
/MobileLoggerApp/MobileLoggerApp/*.pdb
/MobileLoggerApp/MobileLoggerApp/*.user
/MobileLoggerApp/MobileLoggerApp/*.aps
/MobileLoggerApp/MobileLoggerApp/*.pch
/MobileLoggerApp/MobileLoggerApp/*.vspscc
/MobileLoggerApp/MobileLoggerApp/*_i.c
/MobileLoggerApp/MobileLoggerApp/*_p.c
/MobileLoggerApp/MobileLoggerApp/*.ncb
/MobileLoggerApp/MobileLoggerApp/*.suo
/MobileLoggerApp/MobileLoggerApp/*.sln.docstates
/MobileLoggerApp/MobileLoggerApp/*.tlb
/MobileLoggerApp/MobileLoggerApp/*.tlh
/MobileLoggerApp/MobileLoggerApp/*.bak
/MobileLoggerApp/MobileLoggerApp/*.cache
/MobileLoggerApp/MobileLoggerApp/*.ilk
/MobileLoggerApp/MobileLoggerApp/*.log
/MobileLoggerApp/MobileLoggerApp/[Bb]in
/MobileLoggerApp/MobileLoggerApp/[Dd]ebug*/
/MobileLoggerApp/MobileLoggerApp/*.lib
/MobileLoggerApp/MobileLoggerApp/*.sbr
/MobileLoggerApp/MobileLoggerApp/obj/
/MobileLoggerApp/MobileLoggerApp/[Rr]elease*/
/MobileLoggerApp/MobileLoggerApp/_ReSharper*/
/MobileLoggerApp/MobileLoggerApp/[Tt]est[Rr]esult*
/MobileLoggerApp/MobileLoggerApp/*.vssscc
/MobileLoggerApp/MobileLoggerApp/$tf*/
/MobileLoggerApp/*.suo
/MobileLoggerApp/MobileLoggerApp/*.user
/MobileLoggerApp/MobileLoggerApp/*.ncb
/MobileLoggerApp/MobileLoggerApp/Debug/
/MobileLoggerApp/MobileLoggerApp/Release/
/MobileLoggerApp/MobileLoggerApp/CodeAnalyst/