/MobileLoggerServer/target/

/MobileLoggerApp/MobileLoggerApp/Thumbs.db
/MobileLoggerApp/MobileLoggerApp/*.obj
/MobileLoggerApp/MobileLoggerApp/*.exe
/MobileLoggerApp/MobileLoggerApp/*.pdb
/MobileLoggerApp/MobileLoggerApp/*.user
/MobileLoggerApp/MobileLoggerApp/*.aps
/MobileLoggerApp/MobileLoggerApp/*.pch
/MobileLoggerApp/MobileLoggerApp/*.vspscc
/MobileLoggerApp/MobileLoggerApp/*_i.c
/MobileLoggerApp/MobileLoggerApp/*_p.c
/MobileLoggerApp/MobileLoggerApp/*.ncb
/MobileLoggerApp/MobileLoggerApp/*.suo
/MobileLoggerApp/MobileLoggerApp/*.sln.docstates
/MobileLoggerApp/MobileLoggerApp/*.tlb
/MobileLoggerApp/MobileLoggerApp/*.tlh
/MobileLoggerApp/MobileLoggerApp/*.bak
/MobileLoggerApp/MobileLoggerApp/*.cache
/MobileLoggerApp/MobileLoggerApp/*.ilk
/MobileLoggerApp/MobileLoggerApp/*.log
/MobileLoggerApp/MobileLoggerApp/[Bb]in
/MobileLoggerApp/MobileLoggerApp/[Dd]ebug*/
/MobileLoggerApp/MobileLoggerApp/*.lib
/MobileLoggerApp/MobileLoggerApp/*.sbr
/MobileLoggerApp/MobileLoggerApp/obj/
/MobileLoggerApp/MobileLoggerApp/[Rr]elease*/
/MobileLoggerApp/MobileLoggerApp/_ReSharper*/
/MobileLoggerApp/MobileLoggerApp/[Tt]est[Rr]esult*
/MobileLoggerApp/MobileLoggerApp/*.vssscc
/MobileLoggerApp/MobileLoggerApp/$tf*/
/MobileLoggerApp/*.suo
/MobileLoggerApp/MobileLoggerApp/*.user
/MobileLoggerApp/MobileLoggerApp/*.ncb
/MobileLoggerApp/MobileLoggerApp/Debug/
/MobileLoggerApp/MobileLoggerApp/Release/
/MobileLoggerApp/MobileLoggerApp/CodeAnalyst/

/MobileLoggerApp/BackgroundUploadTaskAgent/Thumbs.db
/MobileLoggerApp/BackgroundUploadTaskAgent/*.obj
/MobileLoggerApp/BackgroundUploadTaskAgent/*.exe
/MobileLoggerApp/BackgroundUploadTaskAgent/*.pdb
/MobileLoggerApp/BackgroundUploadTaskAgent/*.user
/MobileLoggerApp/BackgroundUploadTaskAgent/*.aps
/MobileLoggerApp/BackgroundUploadTaskAgent/*.pch
/MobileLoggerApp/BackgroundUploadTaskAgent/*.vspscc
/MobileLoggerApp/BackgroundUploadTaskAgent/*_i.c
/MobileLoggerApp/BackgroundUploadTaskAgent/*_p.c
/MobileLoggerApp/BackgroundUploadTaskAgent/*.ncb
/MobileLoggerApp/BackgroundUploadTaskAgent/*.suo
/MobileLoggerApp/BackgroundUploadTaskAgent/*.sln.docstates
/MobileLoggerApp/BackgroundUploadTaskAgent/*.tlb
/MobileLoggerApp/BackgroundUploadTaskAgent/*.tlh
/MobileLoggerApp/BackgroundUploadTaskAgent/*.bak
/MobileLoggerApp/BackgroundUploadTaskAgent/*.cache
/MobileLoggerApp/BackgroundUploadTaskAgent/*.ilk
/MobileLoggerApp/BackgroundUploadTaskAgent/*.log
/MobileLoggerApp/BackgroundUploadTaskAgent/[Bb]in
/MobileLoggerApp/BackgroundUploadTaskAgent/[Dd]ebug*/
/MobileLoggerApp/BackgroundUploadTaskAgent/*.lib
/MobileLoggerApp/BackgroundUploadTaskAgent/*.sbr
/MobileLoggerApp/BackgroundUploadTaskAgent/obj/
/MobileLoggerApp/BackgroundUploadTaskAgent/[Rr]elease*/
/MobileLoggerApp/BackgroundUploadTaskAgent/_ReSharper*/
/MobileLoggerApp/BackgroundUploadTaskAgent/[Tt]est[Rr]esult*
/MobileLoggerApp/BackgroundUploadTaskAgent/*.vssscc
/MobileLoggerApp/BackgroundUploadTaskAgent/$tf*/
/MobileLoggerApp/BackgroundUploadTaskAgent/*.user
/MobileLoggerApp/BackgroundUploadTaskAgent/*.ncb
/MobileLoggerApp/BackgroundUploadTaskAgent/Debug/
/MobileLoggerApp/BackgroundUploadTaskAgent/Release/
/MobileLoggerApp/BackgroundUploadTaskAgent/CodeAnalyst/

/MobileLoggerApp/TestResults/

/MobileLoggerApp/MobileLoggerTest/Thumbs.db
/MobileLoggerApp/MobileLoggerTest/*.obj
/MobileLoggerApp/MobileLoggerTest/*.exe
/MobileLoggerApp/MobileLoggerTest/*.pdb
/MobileLoggerApp/MobileLoggerTest/*.user
/MobileLoggerApp/MobileLoggerTest/*.aps
/MobileLoggerApp/MobileLoggerTest/*.pch
/MobileLoggerApp/MobileLoggerTest/*.vspscc
/MobileLoggerApp/MobileLoggerTest/*_i.c
/MobileLoggerApp/MobileLoggerTest/*_p.c
/MobileLoggerApp/MobileLoggerTest/*.ncb
/MobileLoggerApp/MobileLoggerTest/*.suo
/MobileLoggerApp/MobileLoggerTest/*.sln.docstates
/MobileLoggerApp/MobileLoggerTest/*.tlb
/MobileLoggerApp/MobileLoggerTest/*.tlh
/MobileLoggerApp/MobileLoggerTest/*.bak
/MobileLoggerApp/MobileLoggerTest/*.cache
/MobileLoggerApp/MobileLoggerTest/*.ilk
/MobileLoggerApp/MobileLoggerTest/*.log
/MobileLoggerApp/MobileLoggerTest/[Bb]in
/MobileLoggerApp/MobileLoggerTest/[Dd]ebug*/
/MobileLoggerApp/MobileLoggerTest/*.lib
/MobileLoggerApp/MobileLoggerTest/*.sbr
/MobileLoggerApp/MobileLoggerTest/obj/
/MobileLoggerApp/MobileLoggerTest/[Rr]elease*/
/MobileLoggerApp/MobileLoggerTest/_ReSharper*/
/MobileLoggerApp/MobileLoggerTest/[Tt]est[Rr]esult*
/MobileLoggerApp/MobileLoggerTest/*.vssscc
/MobileLoggerApp/MobileLoggerTest/$tf*/
/MobileLoggerApp/MobileLoggerTest/*.user
/MobileLoggerApp/MobileLoggerTest/*.ncb
/MobileLoggerApp/MobileLoggerTest/Debug/
/MobileLoggerApp/MobileLoggerTest/Release/
/MobileLoggerApp/MobileLoggerTest/CodeAnalyst/